.container {
  background-color: rgb(195, 192, 192);
  position: relative;
  padding-left: 20px;
  padding-top: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
  height: 70px;
}

.name h4 {
margin: 0px;
}

.status {
    margin-top: 20px;
    
}

.city {
  position: absolute;
  top: 5px;
  right: 0;
  padding-right: 10px;
}

.country{
    position: absolute;
    top: 20px;
    right: 0;
    padding-right: 10px;
}

.follow_btn{
    position: absolute;
    right: 10px;
    top:50px;
}


