.app-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 978px;
  display: -ms-grid;
  display: grid;
  grid-template-areas:
    "header header header"
    "nav main main ";
  grid-template-columns: 2fr 10fr;
  grid-gap: 2px;
}

.header {
  grid-area: header;
  background-color: rgb(246, 215, 175);
  text-align: center;
}

.title{
  float: right;
  margin-right: 30px;
}
.navbar {
  grid-area: nav;
  background-color: antiquewhite;
}


.feed {
  grid-area: main;
  padding: 10px 10px;
  background-color: rgb(251, 244, 235);
}
